<section>
    <div class="w-4/5 mx-auto">
        <div class="grid mt-5 grid-cols-1 gap-2 max-h-5 md:grid-cols-4 md:gap-4 ">
            <% data.forEach((v)=> { %>
                <div class="p-5 w-fit bg-gray-50 rounded-md shadow-md  ">
                    <div class="mb-5 ">
                        <img src="/img/<%=v.image%>" class="object-contain " width="300" height="300">
                    </div>
                    <div class="flex items-center justify-between">
                        <h1 class="text-2xl font-bold uppercase">
                            <%= v.name %>
                        </h1>
                    </div>
                    <div class="flex mt-3 space-x-1 font-bold items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <p class="text-xl">
                            <%= v.price %>
                        </p>
                    </div>
                    <div class="flex ">
                        <form action="/user/buy/<%=v._id%>" method = "POST" class="mt-5 bg-black text-white w-fit px-3 py-2 rounded-md">
                            <button tpye="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                </svg>
                            </button>
                        </form>
                        <p class="ms-auto my-auto ">
                            <%= (v.count <=0 ? "สินค้าหมดแล้ว" : "Stock " + v.count  ) %>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</section>